﻿@model IEnumerable<SFData.data.Order>
@{
    ViewBag.Title = "Index";

}
<h2> Order Details </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusID)
        </th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.AddressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.StatusID)
            </td>
            <td>
                @Html.ActionLink("Edit", "OrderDetails", "Orders", new { orderId = order.OrderID }, null)
            </td>

        </tr>
    }
</table>
