@model IEnumerable<SFData.data.ShoppingCartProduct>
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<h2>Product Details</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ProductID)</th>
        <th> @Html.DisplayNameFor(model => model.ProductName)</th>
        <th> @Html.DisplayNameFor(model => model.Quantity)</th>
        <th> @Html.DisplayNameFor(model => model.Price)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.ProductID)</td>
            <td> @Html.DisplayFor(modelItem => item.ProductName)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td>$ @Html.DisplayFor(modelItem => item.Price)</td>
        </tr>
    }
</table>

<table class="table">
    <tr>
        <th>
            <p>Order Total Is :  @ViewBag.Price</p>
        </th>
    </tr>
</table>